{{>header}}
{{>baner-part-page}}<br><br>
<div id="blog" class="container-fluid ">
    <div class="container">
        <div class="col-md-12 text-left">
            <p>
                <a href=""><span style="font-size: 25px">Trang chủ </span></a>&nbsp;&nbsp;/&nbsp;&nbsp;
                <a href=""><span style="font-size: 25px">Blog</span></a>
            </p>
            <hr>
        </div>
        <div class=" row">
            <div class="col-md-8"><br>
                {{>blog-tag-part}}
            </div>
            <div class="col-md-4">
                {{>blog-tab-part}}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>

{{>footer}}
