<hr>
<div id="pricing" class="container-fluid">
    <div class="container">
        <div class="text-center">
            <div class="center-block" style="width:400px;">
                <h3 class="text-center line_after_heading_say section_heading_say" style="font-size: 25px">CHÍNH SÁCH CỦA CHÚNG TÔI</h3>
            </div>
        </div><br><br>
        <div class="row slideanim">
            <div class="col-sm-3 col-xs-12">
                <div class="panel panel-default text-left">
                    <div class="panel-heading" style="background: linear-gradient(to bottom right, #33ccff 43%, #ffffff 100%)">
                        <h4>SẢN PHẨM</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        <ul class="nav">
                            <li><i class="far fa-check-circle"></i>&nbsp;Được phá chế từ những chuyên gia của chúng tôi.</li>
                            <li><i class="far fa-check-circle"></i>&nbsp;Nguyên liệu được hoàn toàn nhập khẩu.</li>
                            <li><i class="far fa-check-circle"></i>&nbsp;Đảm bảo vệ sinh an toàn thực phẩm.</li>
                        </ul>
                        </p>
                    </div><br><br><br>
                    <div class="panel-footer">
                        <a href="">
                            <button class="w3-bar-item w3-button w3-teal">Đến sản phẩm</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="panel panel-default text-left">
                    <div class="panel-heading" style="background: linear-gradient(to bottom right, #33ccff 43%, #ffffff 100%)">
                        <h4>GIAO HÀNG</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        <ul class="nav">
                            <li><i class="far fa-check-circle"></i>&nbsp;
                                Free giao hàng dưới 10km
                            </li>
                            <li><i class="far fa-check-circle"></i>&nbsp;
                                Bạn là khách hàng ưu tiên
                            </li>
                            <li><i class="far fa-check-circle"></i>&nbsp;
                                5% tổng sản phẩm trên 10 km
                            </li>
                        </ul>
                        </p>
                    </div><br><br><br><br>
                    <div class="panel-footer">
                        <a href="">
                            <button class="w3-bar-item w3-button w3-teal">Đặt hàng ngay</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="panel panel-default text-left">
                    <div class="panel-heading" style="background: linear-gradient(to bottom right, #33ccff 43%, #ffffff 100%)">
                        <h4>KHÁCH HÀNG ƯU TIÊN</h4>
                    </div>
                    <div class="panel-body">
                        <p><i class="far fa-check-circle"></i>&nbsp;
                            Khi bạn đăng kí tài khoản tại Tíc Tắc sẽ được giảm 5% khi mua hàng
                        </p>
                        <li class="nav"><i class="far fa-check-circle"></i>&nbsp;Cấp bậc ưu tiên
                            <ul>
                                <li>
                                    Khách hàng : 0% (Chưa Đăng Kí)
                                </li>
                                <li>
                                    Khách hàng ưu tiên : 10% (25cc)
                                </li>
                                <li>
                                    Giám sát : 30% (100cc)
                                </li>
                                <li>
                                    Quản lí : 50 % (250cc)
                                </li>
                            </ul>
                        </li>
                    </div>
                    <div class="panel-footer">
                        <a href="/home/signup">
                            <button class="w3-bar-item w3-button w3-teal">Đăng kí ngay</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12" >
                <div class="panel panel-default text-left" >
                    <div class="panel-heading" style="background: linear-gradient(to bottom right, #33ccff 43%, #ffffff 100%)">
                        <h4>CC LÀ GÌ ?</h4>
                    </div>
                    <div class="panel-body">
                        <p><i class="far fa-check-circle"></i>&nbsp;
                            CC là gì ? Là một đơn vị để đo số lượng sản phẩm, khi bạn mua sản phẩm của chung tôi sẽ được tích điểm CC trong Tài Khoản của bạn.
                        </p>
                        <li class="nav"><i class="far fa-check-circle"></i>&nbsp;Cách thăng cấp bậc ưu tiên :
                            <ul>
                                <li>
                                    Chia sẽ mã giới thiệu cho bạn bè mới tạo Tài Khoản tại Tíc Tắc.
                                </li>
                                <li>
                                    Mua sản phẩm tại Tíc Tắc.
                                </li>
                            </ul>
                        </li>
                    </div>
                    <div class="panel-footer">
                        <a href="">
                            <button class="w3-bar-item w3-button w3-teal">Xem Thêm</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
